.hero-content {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  width: 40rem;
}

.hero-content h1 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.p {
  color: #000;
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraph {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-information {
  width: 10rem;
  border: none;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #000000;
  color: white;
}

.button-more {
  width: 12rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  flex-shrink: 0;
  background-color: #ccbd99;
  color: white;
}

.button-group {
  padding-top: 2rem;
  display: flex;
  gap: 5rem;
}

.hero {
  background-image: url(../../images/images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.know-more {
  background: #ccbd99;
  padding: 2rem 10rem;
}

.know-more p {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.76px; /* 175% */
  letter-spacing: 0.096px;
  text-transform: uppercase;
}

@media (max-width: 1450px) {
  .hero-content h1 {
    font-size: 45px;
  }

  .p {
    font-size: 25px;
  }

  .paragraph {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content {
    width: 30rem;
  }

  .sub-navbar-container img {
    display: none;
  }

  .navbar-list {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    padding: 10rem 1rem;
    width: 25rem;
  }

  .button-group {
    gap: 1rem;
  }

  .button-group button {
    width: 7rem;
    font-size: 13px;
  }

  .know-more {
    padding: 2rem;
  }

  .p {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .paragraph {
    font-size: 16px;
  }
}
