.navbar-container {
  display: flex;
  padding: 2rem 10rem 0 10rem;
  justify-content: space-between;
  border-bottom: 1px solid #e1edf9;
  align-items: center;
}

.list-itens {
  display: flex;
  gap: 4rem;
  align-items: center;
  cursor: pointer;
}

.list-itens li {
  gap: 0.5rem;
  display: flex;
}

.list-itens li img {
  width: 15px;
}

.pages-container {
  display: flex;
  gap: 0.7rem;
}

.pages-container img {
  width: 35px;
}

.navbar-list {
  display: flex;
  gap: 3rem;
}

.navbar-list li {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.76px; /* 175% */
  letter-spacing: 0.096px;
  text-transform: uppercase;
}

.sub-navbar-container {
  display: flex;
  align-items: center;
  padding: 0 10rem 0 10rem;
  justify-content: space-between;
}

.sub-navbar-container img {
  width: 300px;
}

.search {
  width: 30px;
  background: #b79d5b;
  padding: 15px;
  margin-left: 15px;
}

.mobile {
  display: none;
}

@media (max-width: 1450px) {
  .list-itens {
    gap: 2rem;
  }
  .list-itens li {
    align-items: center;
  }
  .pages-container img {
    width: 28px;
  }

  .search {
    margin-left: 0;
  }

  .mobile {
    display: block;
  }

  .navbar-list li {
    font-size: 16px;
  }

  .sub-navbar-container img {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  .navbar-container {
    display: none;
  }

  .navbar-list li {
    font-size: 14px;
  }
}
