* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

/* .container-hero {
 background-image: url(./images/images/hero.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position:  center;
 height: 60vh;
 
} */

h1,h2,h3,h4,p{
  margin: 0;
}